/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#bloc_page
{
	width: 1440px;
	height: 1884px;
	margin-left: 55px;
	margin-right: 55px;
	
}

@font-face
{ font-family: Raleway;
  src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');    
}

body 
{
	font-family: 'Raleway'Times New, Roman;
}

.header-info/* hearder info */
{
	width: 1440px;
	height: 90px;
}


header/* Bloc hearder */
{
	border: solid white;
	width: 1440px;
	height: 336px ;
}

.logo_reservia /* logo */
{
	
	width: 95px;
	height: 29px;
	margin-top: 53px;

}

nav /* bloc de navigation */
{
	display: inline-block;
	margin-left: 830px;
	
}

.ancre_text /*bloc des puces */
{
	display: inline-block;
	justify-content: space-around;
	margin-right: 70px;
	padding-top: 55px;
}

.lien
{
	align-self: start;

}



.ancre_text /* ancre */
{
	
	
	color: black;
	text-decoration: none;
}

.nav_text/* texte de navigation */
{
	color: #0065FC;
	font-weight: bold;
	margin-right: 77px;
	text-decoration: none;
	
}

.ancre_text:hover /* survol puce*/
{
	text-decoration: #0065FC;
	color:#0065FC;
	border-top: 2px solid #0065FC;
	
}


nav .ancre_text:hover /*survol bordure top ancre */
{
	border-top: 2px solid #0065FC;

}

.ancre_text:hover,.ancre_text:visited .lien:hover /* survol et viste ancre */ 
{
	color:#0065FC;
	
}



h1
{
	margin-top: 53px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	text-align: justify;
	}

.p1
{
	font-size: small;
}



#barre /* Bloc rechercher */
{
	display: flex;
	justify-content:flex-start;
	width: 305px;
	height: 36px;
	margin-top: 25px;
	border: #F2F2F2;
	border-radius: 10px;
}

.fa1
{	
	text-align: center;
	flex: 0.5;
	width: 53px;
	height: 26.5px;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-right: 6px;
	padding-left: 5px;
	border-radius: 10px 0px 0px 10px;
}

#search_text /* texte rechercher */
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 2;
	background-color:#0065FC;
	border-radius: 0px 10px 10px 0px;
	padding-top: 2,5px;
	color:white
}



.filtre_text /* bloc texte filtre */
{
	display: inline-block;
	margin-top: 50px;	
	margin-right: 35px;
	font-weight: bold;
	font-size: 13px;
}

#filtre_bloc /* bloc filtre */
{
	display: flex;
	width: 934px;
	height: 20px;
	margin-left: 35px;
	margin-bottom: 45px;
}



.filtres
{
margin-left: -2px;
margin-right: 25px;
margin-bottom: 50px;
}

.filtre
{
display: inline-block;
border: #F2F2F2 solid;
border-radius: 40px;
font-weight: bold;
margin-right: 25px;
}

.icone
{

vertical-align: middle;
margin-left: -8px;
margin-top: -2px;
margin-bottom: -2px;


}

.backcolor
{
color: #DEEBFF ;
}

.colorfiltres
{
color: #0065FC ;
font-size: 15px;
}

.iconename
{
	vertical-align: middle;
	margin-right: 25px;
	
}



.icone_info/* Bloc info */
{
margin-left: -10px;
margin-right: 25px;
}

.cercleinfo
{
color: #F2F2F2 ;
}

.colorfiltres2
{
color: #0065FC ;
font-size: 10px;
}

.text_info
{
	font-size: 15px;
	margin-right: 25px;
	
}

.filtre1:hover,.filtre2:hover,.filtre3:hover,.filtre4:hover,.colorfiltres:hover,.colorfiltres2:hover
{
	color: green
}

section
{
	display: flex;
	width: 1342px;
	height: 1240px ;
	font-family: 'Raleway'Times New, Roman, serif;
	margin-top: -75px;
}

/* Bloc hebergement de Marseille */
#marseille
{
	width: 880px;
	height: 625px;
	background-color:#F2F2F2;
	border-radius: 30px;
	margin-right: 40px;
	font-family: 'Raleway'Times New, Roman, serif;
	
	
}

h2 /* Texte de hebergement de Marseille */
{
	font-size: 18px;
	font-weight: bold;
	margin-top: 46px;
	margin-left: 42px;
	text-align: justify;
}

h2-afficher
{
	font-size: 18px;
	font-weight: bold;
	margin-top: 46px;
	margin-left: 42px;
	text-align: justify;
}

/* Bloc haut de l'hébergement */
#bloca_top
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 40px;
	margin-left: 40px;
	
}


/* Bloc Auberges de la Cannerbière */
.hotel_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	margin-right: 30px;
}

.hotel_photo
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 20px 20px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}

h3-mars:hover
{
	color: green;
}


h3-mars
{
	display: inline-block;
	position:relative;
	align-self: start;
	font-size: 15px;
	font-weight: bold;
	top:-10px;
	margin-left: 18px;
	color: black;
	margin-top: 15px;
	margin-left: 18px;
}



.lien_afficher
{
	text-decoration: none;
	color: black;
}

.lien_afficher:hover 
{
	color: green;
}

.star_hebergement
{
	display: flex;
	
	margin-right: 160px;
	width: 68px;
	height: 13px;
}

.fa-sm, .ca1,.mer1, .pa1/* étoile des */
{
	color: #0065FC;
	
} 

.ca2,.mer2,.pa2
{
	color: #F2F2F2; 
}

#bloca_bottom
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 40px;
	margin-left: 40px;
	
}

.text_prix
{
	display: inline-block;
	position:relative;
	top: -12px;
	align-self: start;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 18px;
}

#star
{
	display: flex;
	justify-self: center;
	margin-top: -5px;
	color: #0065FC;
	width: 68px;
	height: 13px;
}


/* Bloc haut les plus populaires */
#populaire
{
	position: relative;
	width: 420px;
	height: 625px;
	background-color:#F2F2F2;
	border-radius: 30px;
	
}
	
#chart
{
	float: right;
	
	
	margin-right: 40px;

	margin-top: 46px;
	
}


#blocb
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;

}

/* Bloc les plus populaires*/

.pop_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	width: 345px ;
	height: 145px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	}

.photo_pop
{
	float: left;
	width: 128px; ;
	height: 135px;
	border-radius: 20px 0px 0px 20px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}

h3-pop
{
	display: inline-block;
	color: black;
	vertical-align: text-top;
	font-size: 15px;
	font-weight: bold;
	margin-top: -30px;
}

.text_pop
{
	display: inline-block;
	align-self: middle;
	vertical-align: top;
	font-size: 12px;
	margin-top: -95px;
	margin-left: 155px;
	margin-bottom: 35px;
}

h3-pop:hover
{
	color:green;
}

.pop_prix
{
	margin-left: 1px;
}

.star_pop
{
	display: flex;
	justify-self: flex-end;
	align-self: flex-start;
	width: 68px;
	height: 13px;
	margin-left:155px;
	}

.so1, .coeur1, .bleu1
{
	color: #0065FC;
} 

.so2, .coeur2, .bleu2
{
	color: #F2F2F2;
} 

.prix
{
	font-weight: bolder;
}

#afficher
{
		margin-bottom: 50px;
}

#activites_bloc
{
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 1342px;
	height: 603px;
	margin-left: 57px;
	margin-top: -800px;
	
}
.lien_activites:hover
{
	color: green;
}

/* Bloc Vieux Port */
#vieux_port_bloc
{

	width: 304px;
	height: 440px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-top: 30px;
	
}

#photo_vieux_port
{
	width: 305px; ;
	height: 388px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;	
}

h4
{
	margin-left: 20px;	
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 30px;
	text-align: justify;
	
	
}

/* Bloc Fort de pomègues  */

#pomegues_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;

	width: 305px ;
	height: 235px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-left: 345px;
	margin-top: -440px;
	}

#photo_pomegues
{
	width: 305px ;
	height: 180px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;	
}


/* Bloc Au coeur de l'eau chambre d'hôtes */

#friou_bloc
{
	
	width: 305px;
	height: 165px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-left: 345px;
	margin-top: 30px;
}

#photo_frioul
{
	width: 305px ;
	height: 110px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;	
	}

/* Bloc parc National des Calanques */
#calanque_bloc
{

	width: 305px;
	height: 440px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-left: 690px;
	margin-top: -440px;
	
}

#photo_calanques/* Bloc photo parc National des Calanques */
{
	width: 305px; ;
	height: 388px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;	
}

/* Bloc  Notre-Dame-de-la-Garde*/

#garde_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 305px ;
	height: 195px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-left: 1034px;
	margin-top: -440px;
	}

#photo_garde
{
	width: 305px ;
	height: 140px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;
		
}


/* Bloc Au coeur de l'eau chambre d'hôtes */

#longchamp_bloc
{
	
	width: 305px;
	height: 210px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-left: 1034px;
	margin-top: 30px;
}

#photo_longchamp
{
	width: 305px ;
	height: 150px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;	
	}

.lien_activites
{
	color: black;
	align-self: flex-start;
	text-decoration: none;
	
}

footer
{
	position: absolute;
	top: 1573px;
	width: 1440px;
	height: 218px;
	margin-top: 103px;
	margin-left: -50px;
	
	background-color:#F2F2F2;
}

.bloc_footer
{
    display: inline-block;
  	vertical-align: top;
	margin-top: 50px;
	text-align: justify;
	margin-left: 57px;
	margin-right: 230px;
}

h3-footer
{
	font-weight: bold;
	margin-left: -1px;
}	

.text_footer
{
	margin-top: 25px;
	margin-bottom:20px;
	font-size: 13px;
}

@media all and (max-width: 980px)
{

	#bloc_page
{
	width: auto;
}

.logo_reservia
{

margin-right: auto;	
	
}

.header_info
{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	
}


nav
{
	order: 1;
	display: flex;
	flex:1 50%;
	align-items: flex-start;

}

.ancre_text
{
	text-align: center;
}



.nav_text
{
	text-align: center;
}
			


}
section
{
	display:flex;
	flex-direction: column-reverse;
}
.filtre

{
	display: flex;
	flex-wrap:wrap;
	margin-top: 15px;
	
}

.eco
{
	
	width: 180px;
	flex: 2 50%;
}

.fam
{
	display: flex;
	flex-direction: flex-start;
	width: 140px;
	
}

.rom
{
	width: 170px;
}

.anim
{
	width: 220px;
}

.iconename
{
	vertical-align: middle;
	padding-top: 5px;
	margin-left: 10px;
}
.p1
{
	font-size: 16px;
	text-align: justify;
	flex-wrap: wrap;
}

#populaire
{
	width: 375px;
	height: 580px;
	border-radius: 0;
	padding-left: 20px;
	margin-bottom: -150px;
	padding-bottom: 40px;
}

#hébergements
{
	margin-top: 150px;
	background-color:none;
}

h2
{
	margin-left: auto;
	
	
}
#marseille
{
	
	order:0;	
	background-color:white;
	margin-left: 20px;
	margin-top: 40px;	
}

#bloca_top, #bloca_bottom
{
display: flex;
flex-direction: column;
margin-left: -10px;	
}

{
			
	
}

#blocb
{
		
	
}

h2-afficher
{
	margin-left: auto;
	font-size: 13px;
}	

#activites_bloc
{
	margin-top: 700px;
	display:flex;
	flex-direction: column ;
}

#vieux_port_bloc
{
	width: 245px; ;
	height: 200px;
	border-radius: 30px 30px 30px 30px; 
}



#photo_vieux_port
{
	width: 235px; ;
	height: 115px;
	border-radius: 20px 20px 0px 0px; 
}

h4
{
	margin-top: 10px;


.lien_afficher
{
	margin-top: -550px;
}

footer
{
	display: flex;
	vertical-align:text-bottom;
	flex-direction: column;

}
.bloc_footer
{
	display:flex;
	flex-direction: column;
	

}


}