
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#bloc_page
{
	width: 1440px;
	height: 1884px;
	margin-left: 55px;
	margin-right: 55px;
	
}

@font-face
{ font-family: Raleway;
  src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');    
}

body 
{
	font-family: 'Raleway'Times New, Roman;
}
/* Bloc hearder */
header
{
	border: solid white;
	width: 1440px;
	height: 426px ;
}

.logo_reservia /* logo */
{
	float: left;
	width: 95px;
	height: 29px;
	margin-top: 53px;

}

nav /* bloc de navigation */
{
	display: inline-block;
	margin-top: 61px;
	margin-left: 830px;
}

ul /*bloc des puces */
{
	display: inline-block;
	justify-content: space-around;
	margin-right: 24px;
}

a /* ancre */
{
	margin-right: 69px;
	color: black;
	text-decoration: none;
}

#nav_text /* texte de navigation */
{
	color: #0065FC;
	font-weight: bold;
}

li:hover /* survol puce*/
{
	text-decoration: #0065FC;
	color:#0065FC;
	border-top: 2px solid #0065FC;;
	padding-top: 55px;
	
}

nav a:hover /*survol bordure top ancre */
{
	border-top: 2px solid #0065FC;
	padding-top: 55px;
}

a:hover,a:visited /* survol et viste ancre */ 
{
	color:#0065FC;
}

h1
{
	margin-top: 53px;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	text-align: justify;
	}

p
{
	font-size: small;
}



#barre /* Bloc rechercher */
{
	display: flex;
	justify-content:flex-start;
	width: 305px;
	height: 36px;
	margin-top: 25px;
	border: #F2F2F2;
	border-radius: 10px;
}

.fa1
{	
	text-align: center;
	flex: 0.5;
	width: 53px;
	height: 26.5px;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-right: 6px;
	padding-left: 5px;
	border-radius: 10px 0px 0px 10px;
}

#search_text /* texte rechercher */
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 2;
	background-color:#0065FC;
	border-radius: 0px 10px 10px 0px;
	padding-top: 2,5px;
	color:white
}



#filtre_text /* bloc texte filtre */
{
	display: inline-block;
	margin-top: 50px;	
	font-weight: bold;
	font-size: 13px;
}

#filtre_bloc /* bloc filtre */
{
	display: flex;
	width: 934px;
	height: 20px;
	margin-left: 35px;
	margin-bottom: 45px;
}



#name /* texte des icones */
{   
position: absolute;
margin-top: 15px;
margin-left: 18px;	
font-size: 15px;
}

/* position du le cercle + icone */
.fa-stack
{
margin-top: 6px;
margin-right: 6px;
color: #F2F2F2;
 
}

.icone /*position des de l'icône dand le bloc*/
{
margin-top: 6px;
margin-right: 6px;

}

.filtre/* le cercle */
{
   	position: absolute;
	left: -5px;
	top: -7px;   
	font-size: 50px;
	margin-left: 5px;
	background-color: #F2F2F2;
	border-radius: 30px;
}


.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog /* icône */
{
    font-size: 20px;
    margin-left: 5px;
     color: #0065FC;
}

#icone1_bloc /* dimension + couleur du bloc économique */
{
	display: inline-block;
	margin-top: -30px;
   	width: 194px;
	height: 47px;
	border-radius: 30px;
	margin-right: 25px;
	margin-left: 35px;
	border-top:solid #F2F2F2;
	border-bottom:solid  #F2F2F2;
	border-right: solid #F2F2F2;
}

#icone2_bloc /* dimention du bloc familiale */
{
	display: inline-block;
	margin-top: -30px;
	width: 151px;
	height: 47px;
	border-radius: 30px;
	margin-right: 25px;
	margin-left: 35px;
	border-top:solid #F2F2F2;
	border-bottom:solid  #F2F2F2;
	border-right: solid #F2F2F2;
		
}

#icone3_bloc/* dimention du bloc romantique */
{
	display: inline-block;
	margin-top: -30px;
	width: 182px;
	height: 47px;
	border-radius: 30px;
	margin-right: 25px;
	margin-left: 35px;
	border-top:solid #F2F2F2;
	border-bottom:solid  #F2F2F2;
	border-right: solid #F2F2F2;
	
}

#icone4_bloc/* dimention du bloc annimaux*/
{
	display: inline-block;
	margin-top: -30px;
	width: 240px;
	height: 47px;
	border-radius: 30px;
	margin-right: 25px;
	margin-left: 35px;
	border-top:solid #F2F2F2;
	border-bottom:solid  #F2F2F2;
	border-right: solid #F2F2F2;
	
}

/*survol icone filtre*/
.icone:hover,.fa-money-bill-wave:hover, .fa-money-bill-wave:hover, .fa-child:hover, .fa-heart:hover, .fa-dog:hover 
{
	color: green;
}

#name:hover /*survol texte icone filtre*/
{
	color:green;
} 

.icone_info /*position des de l'icône dand le bloc*/
{
margin-top: 6px;
margin-right: 6px;

}

.cercleinfo/* le cercle */
{
   	position: absolute;
	font-size: 22px;	
	border-radius: 30px;
}


.fa-info /* icône info */
{
    position: absolute;    
 	margin-left: 8.5px;
	margin-top: 4px;
	color: #0065FC;
}

#name_info
{   
margin-left: -5px;

}


section
{
	display: flex;
	
	width: 1342px;
	height: 1240px ;
	font-family: 'Raleway'Times New, Roman, serif;
	
}

/* Bloc hebergement de Marseille */
#marseille
{
	width: 880px;
	height: 625px;
	background-color:#F2F2F2;
	border-radius: 30px;
	margin-right: 40px;
	font-family: 'Raleway'Times New, Roman, serif;
	
	
}

h2 /* Texte de hebergement de Marseille */
{
	font-size: 18px;
	font-weight: bold;
	margin-top: 46px;
	margin-left: 42px;
	text-align: justify;
}


/* Bloc haut de l'hébergement */
#bloca_top
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 40px;
	margin-left: 40px;
	
}


/* Bloc Auberges de la Cannerbière */
#cannebiere_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	margin-right: 30px;
}

#photo_cannebiere
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}

h5
{
	display: inline-block;
	position:relative;
	align-self: start;
	font-size: 15px;
	font-weight: bold;
	top:-10px;
	margin-left: 18px;
}

h6
{
	display: inline-block;
	position:relative;
	font-size: 12px;
	top: -12px;
	margin-left: 18px;
}

#star_ca
{
	display: flex;
	margin-top: -5px;
	margin-right: 160px;
	width: 68px;
	height: 13px;
}

.ca1
{
	color: #0065FC;
	
} 

.ca2
{
	color: #F2F2F2; 
}


/* Bloc hôtel du port */
#hport_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	margin-right: 30px;
}

#photo_hport
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	
	
}



#star_3
{
	display: flex;
	margin-top: -5px;
	margin-right: 160px;
	width: 68px;
	height: 13px;
	color: #0065FC;
	
}


/* Bloc hôtel Mouettes */
#mouettes_bloc 
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
}

#photo_mouettes
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}

h5
{
	display: inline-block;
	align-self: start;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 18px;
}



#star
{
	display: flex;
	margin-top: -5px;
	margin-right: 160px;
	width: 68px;
	height: 13px;
}

.mou1
{
	color: #0065FC;
} 

.mou2
{
	color: #F2F2F2; 
}

#bloca_bottom
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 40px;
	margin-left: 40px;
	
}


/* Bloc hôtel de la mer */
#mer_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	margin-right: 30px;
}

#photo_mer
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}


#star_mer
{
	display: flex;
	margin-top: -5px;
	margin-right: 160px;
	width: 68px;
	height: 13px;	
}

.mer1
{
	color: #0065FC;
} 

.mer2
{
	color: #F2F2F2; 
}


/* Bloc auberge le panier */
#panier_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	margin-right: 30px;
}

#photo_panier
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	
	
}


#star_pa
{
	display: flex;
	margin-top: -5px;
	margin-right: 160px;
	width: 68px;
	height: 13px;	
}

.pa1
{
	color: #0065FC;
} 

.pa2
{
	color: #F2F2F2; 
}


#amina_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
}

#photo_amina
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}


h6
{
	display: inline-block;
	align-self: start;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 18px;
}

#star
{
	display: flex;
	justify-self: center;
	margin-top: -5px;
	color: #0065FC;
	width: 68px;
	height: 13px;
}


/* Bloc haut les plus populaires */
#populaire
{
	position: relative;
	width: 420px;
	height: 625px;
	background-color:#F2F2F2;
	border-radius: 30px;
	
}
	
#chart
{
	float: right;
	display: inline-block;
	margin-right: 40px;

	margin-top: 46px;
	
}
#blocb
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;

}

/* Bloc hôtel le soleil */

#soleil_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	width: 345px ;
	height: 145px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	}

#photo_soleil
{
	float: left;
	width: 128px; ;
	height: 135px;
	border-radius: 10px 0px 0px 10px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}

#soleil_bloc h5
{
	display: inline-block;
	align-self: start;
	vertical-align: text-top;
	font-size: 15px;
	font-weight: bold;
	margin-top: -116px;
	margin-left: 155px;

}

#soleil_bloc h6
{
	display: inline-block;
	align-self: start;
	vertical-align: top;
	font-size: 12px;
	margin-top: -95px;
	margin-left: 155px;
	margin-bottom: 35px;
}

#star_so
{
	display: flex;
	justify-self: flex-end;
	align-self: flex-start;
	width: 68px;
	height: 13px;
	margin-left: 155px;
	margin-top: -60px;	
}

.so1
{
	color: #0065FC;
} 

.so2
{
	color: #F2F2F2;
} 

/* Bloc Au coeur de l'eau chambre d'hôtes */

#au_coeur_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	width: 345px ;
	height: 145px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;

}

#photo_au_coeur
{
	float: left;
	width: 128px; ;
	height: 135px;
	border-radius: 10px 0px 0px 10px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	
	
}

#au_coeur_bloc h5
{
	display: inline-block;
	align-self: start;
	vertical-align: text-top;
	font-size: 15px;
	font-weight: bold;
	margin-top: -116px;
	margin-left: 155px;

}

#au_coeur_bloc h6
{
	display: inline-block;
	align-self: start;
	vertical-align: top;
	font-size: 12px;
	margin-top: -95px;
	margin-left: 155px;
	margin-bottom: 35px;
}

#star_coeur
{
	display: flex;
	justify-self: flex-end;
	align-self: flex-start;
	width: 68px;
	height: 13px;
	margin-left: 155px;
	margin-top: -60px;	
}

.coeur1
{
	color: #0065FC;
} 

.coeur2
{
	color: #F2F2F2;
} 



/* Bloc hôtel tout bleu et blanc */
#text_bleu
{
	display: inline-block
}

#bleu_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	width: 345px ;
	height: 145px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;

}

#photo_bleu
{
	float: left;
	width: 128px; ;
	height: 135px;
	border-radius: 10px 0px 0px 10px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	
	
}

#bleu_bloc h5
{
	display: inline-block;
	align-self: start;
	vertical-align: text-top;
	font-size: 15px;
	font-weight: bold;
	margin-top: -116px;
	margin-left: 155px;

}

#bleu_bloc h6
{
	display: inline-block;
	align-self: start;
	vertical-align: top;
	font-size: 12px;
	margin-top: -95px;
	margin-left: 155px;
	
}

#star_bleu
{
	display: flex;
	justify-self: flex-end;
	align-self: flex-start;
	width: 68px;
	height: 13px;
	margin-left: 155px;
	margin-top: -60px;	
}

.bleu1
{
	color: #0065FC;
} 

.bleu2
{
	color: #F2F2F2;
} 

#prix
{
	font-weight: bolder;
}

#afficher
{
		margin-bottom: 50px;
}

#activites_bloc
{
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 1342px;
	height: 603px;
	margin-left: 57px;
	margin-top: -828px;
	
}

/* Bloc Vieux Port */
#vieux_port_bloc
{

	width: 304px;
	height: 440px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-top: 30px;
	
}

#photo_vieux_port
{
	width: 305px; ;
	height: 388px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;	
}

h4
{
	margin-left: 20px;	
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 30px;
	text-align: justify;
	
	
}

/* Bloc Fort de pomègues  */

#pomegues_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;

	width: 305px ;
	height: 235px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-left: 345px;
	margin-top: -440px;
	}

#photo_pomegues
{
	width: 305px ;
	height: 180px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;	
}


/* Bloc Au coeur de l'eau chambre d'hôtes */

#friou_bloc
{
	
	width: 305px;
	height: 165px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-left: 345px;
	margin-top: 30px;
}

#photo_frioul
{
	width: 305px ;
	height: 110px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;	
	}

/* Bloc parc National des Calanques */
#calanque_bloc
{

	width: 305px;
	height: 440px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-left: 690px;
	margin-top: -440px;
	
}

#photo_calanques/* Bloc photo parc National des Calanques */
{
	width: 305px; ;
	height: 388px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;	
}

/* Bloc  Notre-Dame-de-la-Garde*/

#garde_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	width: 305px ;
	height: 195px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-left: 1034px;
	margin-top: -440px;
	}

#photo_garde
{
	width: 305px ;
	height: 140px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;
		
}


/* Bloc Au coeur de l'eau chambre d'hôtes */

#longchamp_bloc
{
	
	width: 305px;
	height: 210px;
	border-bottom:solid #F2F2F2;
	border-left: solid #F2F2F2;
	border-right: solid #F2F2F2;
	border-radius: 30px;
	margin-left: 1034px;
	margin-top: 30px;
}

#photo_longchamp
{
	width: 305px ;
	height: 150px;
	border-radius: 25px 25px 0px 0px; 
	left: 112px;	
	}

footer
{
	position: absolute;
	top: 1573px;
	width: 1346px;
	height: 218px;
	margin-top: 103px;
	margin-left: -2px;
	
	background-color:#F2F2F2;
}