
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#bloc_page
{
	width: 1440px;
	height: 1884px;
	margin-left: 55px;
	margin-right: 55px;
	font-family: 'Raleway'Times New, Roman;
}

@font-face
{ font-family: Raleway;
  src: url('Raleway/Raleway-VariableFont_wght.ttf') format('truetype');    
}


/* Bloc hearder */
header
{
	border: solid white;
	width: 1440px;
	height: 426px ;
	font-family: 'Raleway'Times New, Roman;
}

.logo_reservia
{
	float: left;
	width: 95px;
	height: 29px;
	margin-top: 53px;

}

nav
{
	display: flex;
	justify-content: flex-end;
	margin-top: 61px;
	
}

ul
{
	display: flex;
	justify-content: space-around;
	margin-right: 24px;
	
}

li
{
	margin-right: 69px;
	color: #0065FC;
	
}

a
{
	text-decoration: none;	
}

li:hover
{
	text-decoration: none;
	color:green;
	border-top: 2px solid black;
	
}

nav a:hover 
{
	border-top: 2px solid black;
}

ul:visited
{
	color: black;
}

h1
{
	margin-top: 53px;
	margin-bottom: 15px;
	font-family: 'Raleway'Times New, Roman;
	font-size: 18px;
	font-weight: bold;
	text-align: justify;
	
}

p
{
	font-size: small;
}



#barre
{
	display: flex;
	justify-content:flex-start;
	width: 305px;
	height: 36px;
	margin-top: 25px;
	border: #F2F2F2;
	border-radius: 10px;
}

.fa1
{	
	text-align: center;
	flex: 0.5;
	width: 53px;
	height: 26.5px;
	background-color: #F2F2F2;
	padding-top: 10px;
	padding-right: 6px;
	padding-left: 5px;
	border-radius: 10px 0px 0px 10px;
}

em
{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 2;
	background-color:#0065FC;
	border-radius: 0px 10px 10px 0px;
	padding-top: 2,5px;
	color:white
}

.search
{
	border-color: #F2F2F2;
}

#filtre
{
	display: inline-block;
	margin-top: 50px;	
	font-weight: bold;
	font-size: 13px;
}

/* pour déplacer le cercle + fontawsome */
.fa-stack
{
margin-top: 6px;
margin-right: 6px;
color: #0065FC;

 
}

.fa-circle /* pour déplacer le cercle */
{
   font-size: 50px;
    color:#F2F2F2;
	margin-top: 1px;
   margin-left: -1px;

}

/* pour déplacer le fontawsome */
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog 
{
    font-size: 20px;
    margin-left: 12px;
    margin-top: 7px;
    background-color:#DEEBFF ;
}

#fontawesome
{
	display: flex;
	width: 934px;
	height: 20px;
	margin-left: 35px;
	margin-bottom: 45px;
}

#fa_bloc
{
	display: inline-block;
	margin-top: -30px;
    border: solid #F2F2F2;
	width: 194px;
	height: 47px;
	border-radius: 30px;
	margin-right: 25px;
	margin-left: 35px;
}

#bloc_familial
{
	display: inline-block;
	margin-top: -30px;
    border: solid #F2F2F2;
	width: 151px;
	height: 47px;
	border-radius: 30px;
	margin-right: 25px;
	margin-left: 35px;
}

#bloc_romantique
{
	display: inline-block;
	margin-top: -30px;
    border: solid #F2F2F2;
	width: 182px;
	height: 47px;
	border-radius: 30px;
	margin-right: 25px;
	margin-left: 35px;
}

#bloc_annimaux
{
	display: inline-block;
	margin-top: -30px;
    border: solid #F2F2F2;
	width: 240px;
	height: 47px;
	border-radius: 30px;
	margin-right: 25px;
	margin-left: 35px;
}
.name 
{   
position: absolute;
margin-top: 15px;
margin-left: 18px;	
font-size: 15px;
font-family: 'Raleway'Times New, Roman;
}




/* pour déplacer le cercle + fontawsome */
.fa-stackinfo
{
margin-top: 6px;
margin-right: 6px;
color: #0065FC;

}

.fa-stack-2x /* pour déplacer le cercle */
{
   	font-size: 50px;
	color:#F2F2F2;
	margin-top: -3px;
	
}

/* pour déplacer le fontawsome */
.fa-info 
{
    position: absolute;
	font-size: 20px;
    margin-left: 10px;
    margin-top: 6px;
	padding-left: 8px;
    background-color:#DEEBFF ;
}

.infoname
{   
position: absolute;
margin-left: 13px;	
font-size: 15px;
font-family: 'Raleway'Times New, Roman;
}


section
{
	display: flex;
	border: solid gray;
	width: 1342px;
	height: 1240px ;
	font-family: 'Raleway'Times New, Roman, serif;
	
}

/* Bloc hebergement de Marseille */
#marseille
{
	width: 880px;
	height: 625px;
	background-color:#F2F2F2;
	border-radius: 30px;
	margin-right: 40px;
	font-family: 'Raleway'Times New, Roman, serif;
	
	
}

h4
{
	font-size: 18px;
	font-weight: bold;
	margin-top: 46px;
	margin-left: 42px;
	font-family: 'Raleway'Times New, Roman;
	text-align: justify;
}


/* Bloc haut de l'hébergement */
#bloca_top
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 40px;
	margin-left: 40px;
	
}


/* Bloc Auberges de la Cannerbière */
#cannebiere_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	margin-right: 30px;
}

#photo_cannebiere
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	
	
}

h5
{
	display: inline-block;
	align-self: start;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 18px;
}

h6
{
	display: inline-block;
	align-self: start;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 18px;
}

#star_ca
{
	display: flex;
	margin-top: 5px;
	margin-right: 160px;
	width: 68px;
	height: 13px;
}

.ca1
{
	color: #0065FC;
	
} 

.ca2
{
	color: #F2F2F2; 
}


/* Bloc hôtel du port */
#hport_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	margin-right: 30px;
}

#photo_hport
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	
	
}

h5
{
	display: inline-block;
	align-self: start;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 18px;
	

}

h6
{
	display: inline-block;
	align-self: start;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 18px;
}

#star_3
{
	display: flex;
	margin-top: 5px;
	margin-right: 160px;
	width: 68px;
	height: 13px;
	color: #0065FC;
	
}


/* Bloc hôtel Mouettes */
#mouettes_bloc 
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
}

#photo_mouettes
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}

h5
{
	display: inline-block;
	align-self: start;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 18px;
}

h6
{
	display: inline-block;
	align-self: start;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 18px;
}

#star
{
	display: flex;
	margin-top: 5px;
	margin-right: 160px;
	width: 68px;
	height: 13px;
}

.mou1
{
	color: #0065FC;
} 

.mou2
{
	color: #F2F2F2; 
}

#bloca_bottom
{
	display: flex;
	flex-wrap: nowrap;
	margin-right: 40px;
	margin-left: 40px;
	
}


/* Bloc hôtel de la mer */
#mer_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	margin-right: 30px;
}

#photo_mer
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

h5
{
	display: inline-block;
	align-self: start;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 18px;
}

h6
{
	display: inline-block;
	align-self: start;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 18px;
}

#star_mer
{
	display: flex;
	margin-top: 5px;
	margin-right: 160px;
	width: 68px;
	height: 13px;	
}

.mer1
{
	color: #0065FC;
} 

.mer2
{
	color: #F2F2F2; 
}


/* Bloc auberge le panier */
#panier_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
	margin-right: 30px;
}

#photo_panier
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	
	
}

h5
{
	display: inline-block;
	align-self: start;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 18px;
	

}

h6
{
	display: inline-block;
	align-self: start;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 18px;
}

#star_pa
{
	display: flex;
	margin-top: 5px;
	margin-right: 160px;
	width: 68px;
	height: 13px;	
}

.pa1
{
	color: #0065FC;
} 

.pa2
{
	color: #F2F2F2; 
}


#amina_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	align-items: flex-end;
	width: 245px ;
	height: 200px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;
}

#photo_amina
{
	float: left;
	width: 235px; ;
	height: 115px;
	border-radius: 10px 10px 0px 0px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}

h5
{
	display: inline-block;
	align-self: start;
	font-size: 15px;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 18px;
}

h6
{
	display: inline-block;
	align-self: start;
	font-size: 12px;
	margin-top: 12px;
	margin-left: 18px;
}

#star
{
	display: flex;
	justify-self: center;
	margin-top: 5px;
	color: #0065FC;
	width: 68px;
	height: 13px;
}


/* Bloc haut les plus populaires */
#populaire
{
	position: relative;
	width: 420px;
	height: 625px;
	background-color:#F2F2F2;
	border-radius: 30px;
	
}
	
#chart
{
	float: right;
	display: flex;
	justify-content: flex-end;
	align-self: flex-start;
	margin-top: 46px;
	margin-right: 45px;
}
#blocb
{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	margin-right: 40px;
	margin-left: 40px;	
}

/* Bloc hôtel le soleil */

#soleil_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	width: 345px ;
	height: 145px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;

}

#photo_soleil
{
	float: left;
	width: 128px; ;
	height: 135px;
	border-radius: 10px 0px 0px 10px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;	
}

#soleil_bloc h5
{
	display: inline-block;
	align-self: start;
	vertical-align: text-top;
	font-size: 15px;
	font-weight: bold;
	margin-top: -116px;
	margin-left: 155px;

}

#soleil_bloc h6
{
	display: inline-block;
	align-self: start;
	vertical-align: top;
	font-size: 12px;
	margin-top: -95px;
	margin-left: 155px;
	margin-bottom: 35px;
}

#star_so
{
	display: flex;
	justify-self: flex-end;
	align-self: flex-start;
	width: 68px;
	height: 13px;
	margin-left: 155px;
	margin-top: -55px;	
}

.so1
{
	color: #0065FC;
} 

.so2
{
	color: #F2F2F2;
} 

/* Bloc Au coeur de l'eau chambre d'hôtes */

#au_coeur_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	width: 345px ;
	height: 145px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;

}

#photo_au_coeur
{
	float: left;
	width: 128px; ;
	height: 135px;
	border-radius: 10px 0px 0px 10px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	
	
}

#au_coeur_bloc h5
{
	display: inline-block;
	align-self: start;
	vertical-align: text-top;
	font-size: 15px;
	font-weight: bold;
	margin-top: -116px;
	margin-left: 155px;

}

#au_coeur_bloc h6
{
	display: inline-block;
	align-self: start;
	vertical-align: top;
	font-size: 12px;
	margin-top: -95px;
	margin-left: 155px;
	margin-bottom: 35px;
}

#star_coeur
{
	display: flex;
	justify-self: flex-end;
	align-self: flex-start;
	width: 68px;
	height: 13px;
	margin-left: 155px;
	margin-top: -55px;	
}

.coeur1
{
	color: #0065FC;
} 

.coeur2
{
	color: #F2F2F2;
} 



/* Bloc hôtel tout bleu et blanc */
#text_bleu
{
	display: inline-block
}

#bleu_bloc
{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	width: 345px ;
	height: 145px;
	border:solid white;
	background-color: white;
	border-radius: 30px;
	margin-top: 25px ;

}

#photo_bleu
{
	float: left;
	width: 128px; ;
	height: 135px;
	border-radius: 10px 0px 0px 10px; 
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	
	
}

#bleu_bloc h5
{
	display: inline-block;
	align-self: start;
	vertical-align: text-top;
	font-size: 15px;
	font-weight: bold;
	margin-top: -116px;
	margin-left: 155px;

}

#bleu_bloc h6
{
	display: inline-block;
	align-self: start;
	vertical-align: top;
	font-size: 12px;
	margin-top: -95px;
	margin-left: 155px;
	
}

#star_bleu
{
	display: flex;
	justify-self: flex-end;
	align-self: flex-start;
	width: 68px;
	height: 13px;
	margin-left: 155px;
	margin-top: -55px;	
}

.bleu1
{
	color: #0065FC;
} 

.bleu2
{
	color: #F2F2F2;
} 

#prix
{
	font-weight: bolder;
}

#afficher
{
	margin-left: 45px;
	margin-bottom: 50px;
}

